@import "tailwindcss" important;

@theme {
  --color-primary: var(--primary);
  --color-primaryLight: var(--primaryLight);

  --animate-gleam: gleam 0.6s ease-in-out;
  --animate-shimmer: shimmer 1s linear 1;
}

@keyframes shimmer {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -200% 0;
  }
}

/* Add the gleam keyframes */
@keyframes gleam {
  0% {
    transform: translateX(-150%) skewX(-15deg);
  }
  100% {
    transform: translateX(150%) skewX(-15deg);
  }
}
